.underlined-heading {
	border-bottom: 1px solid #333;
	padding-bottom: 5px;
}

.mce-content-body a.pdf_dl:after {
	content: '\f101';
	font-family: fontAwesome;
	margin-left: 5px;
}

.mce-content-body a.pdf_dl.light:after, .mce-content-body a.pdf_dl.light {
	color: #000;
}

.mce-content-body a.pdf_dl {
	text-decoration: none;
}
.mce-content-body a.pdf_dl:before {
	left: 0;
	margin-right: 10px;
	content: "\f1c1";
	font-family: fontAwesome;
	color: $darkgrey;
	transition: 0.25s ease-in-out;
}
.mce-content-body a.pdf_dl.light:before {
	color: $brandorange;
}
span.para-top-line-rule {
	padding-top: 20px;
    border-top: 1px solid #999;
    display: block;
}