@import "flexboxgrid.min.css";
@import "main.css";
@import "normalize.min.css";
@import "slick-theme.css";
@import "slick.css";
@import "hamburgers.min.css";

$darkgrey: #666;
$brandblue: #3F5BA9;
$brandlightblue: #6CCEEF;
$brandorange: #F58258;
$lightgrey: #f5f5f5;
$brandultralightblue: #cef3ff;
$brandultralightorange: #ffe4da;
$medgrey: #c9c9c9;
$borderradius: 10px;

img {
	max-width: 100%;
	height: auto;
	width: 100%;
	display: block;
}

.partnerships {
	background-image: url(/assets/img/backgrounds/breastfeeding-in-wicker-chair.jpg);
}

.bg_img_position_bottom {
	background-size: cover;
	background-position: bottom center;
}

.light h1, .light h2, .light h3, .light h4, .light h5, .light h6, .light p, .light ol, .light ul, .light .button {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 15px;
}

h4 {
	font-size: 1,15em;
	line-height: 1.5em;
}

p:last-of-type {
	margin-bottom: 0;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.navbar li .button_active {
	background-color: $brandorange;
	color: #fff;
}

footer {
	background-color: $brandblue;
	border-top: 5px solid $brandorange;
}

.icon {
	max-width: 40px;
}

.button {
	font-weight: bold;
}

.ultra_light_blue_bg {
	background-color: $brandultralightblue;
}

.dark_grey_bg {
	background-color: $darkgrey;
}

.ultra_light_orange_bg {
	background-color: $brandultralightorange;
}

.button:after, .button.light:after {
	position: absolute;
	top: 17px;
	left: 100%;
	background-repeat: no-repeat;
	content: '';
	width: 45px;
	height: 10px;
	transition: 0.25s ease-in-out;
	background-position: center left -15px;
}

.center {
	justify-content: center;
}

.button:after {
	background-image: url(../img/icons/arrow-right.svg);
}

.light .button:after {
	background-image: url(../img/icons/arrow-right-white.svg);
}

.button:hover:after {
	background-position: center left;
	transition: 0.25s ease-in-out;
}

%absoluteimgcontainer {
	position: relative;
	overflow: hidden;
}

.absolute_img_container {
	@extend %absoluteimgcontainer;
}

%noleftpadding {
	padding-left: 0;
}

%norightpadding {
	padding-right: 0;
}

.no-left-padding {
	@extend %noleftpadding;
}

.no-right-padding {
	@extend %norightpadding;
}

.menu-item-has-children {
	position: relative;
}

.toggle-children {
	position: absolute;
	right: 0;
	height: 26px;
	width: 26px;
	top: 15px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, .15);
	z-index: 99;
	cursor: pointer;
	border-radius: 100px;
}

.resources a {
	text-decoration: none;
}

.toggle-children .fa {
	line-height: 26px;
	font-size: 15px;
	color: #fff;
	transition: 0.4s ease-in-out;
}

.toggle-children.open .fa {
	transform: rotate(180deg);
	transition: 0.4s ease-in-out;
}

.maxWidth800 {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.padding-bottom-50 {
	padding-bottom: 50px;
}

.padding-bottom-25 {
	padding-bottom: 25px;
}

form {
	font-size: 0;
}

.form_input {
	border: none;
	margin: 0 0 5%;
	width: 47.5%;
	padding: 15px;
	font-size: 13px;
}

.form_input:first-of-type {
	margin-right: 5%;
}

.form_input[type=email] {
	width: 100%;
}

.form_submit {
	font-size: 13px;
	padding: 10px 15px;
	background-color: $brandorange;
	border: none;
	color: #fff;
	cursor: pointer;
}

.light_grey_bg {
	background-color: $lightgrey;
}

h1, h2, p, .button, .resources h3 {
	color: $darkgrey;
}

.nav, .language-toggle {
	transition: 0.4s ease-in-out;
}

h2 {
	font-size: 2em;
}

h3 {
	color: $brandblue;
}

.carousel .slick-dots li.slick-active button:before {
	color: $brandorange;
}

a {
	color: $brandlightblue;
}

.carousel.who_we_are {
	padding: 0 50px;
}

.content-wrapper .carousel ul {
	padding: 0;
}

.content-wrapper .carousel ul li:before {
	display: none;
} 

.carousel .slick-dots li button:before {
	font-size: 30px;
}

.menu-logo-container {
	height: 0;
	-webkit-transition: width 0.4s, height 0.4s, margin 0.4s;
    -moz-transition: width 0.4s, height 0.4s, margin 0.4s;
    -ms-transition: width 0.4s, height 0.4s, margin 0.4s;
    transition: width 0.4s, height 0.4s, margin 0.4s;
	display: block;
	width: 0;
	margin: 0;
	position: relative;
	left: 90px;
    top: 0;
}

.menu-logo-container a {
	height: 100%;
}

.menu-logo-container.show {
	height: 60px;
	width: 100%;
	margin: 0 0 0 -92.5px;
	-webkit-transition: width 0.4s, height 0.4s, margin 0.4s;
    -moz-transition: width 0.4s, height 0.4s, margin 0.4s;
    -ms-transition: width 0.4s, height 0.4s, margin 0.4s;
    transition: width 0.4s, height 0.4s, margin 0.4s;
}

.menu-logo {
	height: 100%;
}

.show ~ .nav {
	margin-top: 20px;
}

.navbar .language-toggle li {
	border-color: rgba(255, 255, 255, .5);
}

.carousel h2 {
	color: #000;
}

.footer-bottom {
	background-color: #fff;
}

.credits {
	margin: 0;
	padding: 15px 0;
	font-size: 13px;
}

.light-box-shadow {
	box-shadow: 0 0 15px #d9d9d9;
}

$linkcolour: #E72F2C;

%inner {
	margin-left: auto;
	margin-right: auto;
	padding-left: 4em;
	padding-right: 4em;
	/*max-width: 1080px;*/
	padding-top: 2em;
	padding-bottom: 2em;
	position: relative;
}
%innernotopbottompadding {
	margin-left: auto;
	margin-right: auto;
	padding-left: 4em;
	padding-right: 4em;
}
%txtaligncenter {
	text-align: center;
}
.inner.no-top-bottom-padding, .navbar .no-top-bottom-padding {
	padding-top: 0;
	padding-bottom: 0;
}
.inner_no_top_bottom_padding {
	max-width: 1600px;
}
.no-side-padding {
	padding-left: 0;
	padding-right: 0;
}
.content-wrapper ul {
	padding: 0 0 0 25px;
}
.content-wrapper ul li {
	text-indent: -16px;
	list-style: none;
}
.content-wrapper ul li:before {
	content: '\f0da';
	font-family: fontAwesome;
	margin-right: 10px;
}
.inner {
	@extend %inner;
}
.inner_no_top_bottom_padding {
	@extend %innernotopbottompadding;
}

@mixin transition($hoverlinks) {
	-webkit-transition: $hoverlinks;
	-moz-transition: $hoverlinks;
	transition: $hoverlinks;
}
a, a:hover {
	@include transition(0.25s ease-in-out);
}
.txtaligncenter {
	@extend %txtaligncenter; 
}
.loading-screen {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #fff;
	top: 0;
	z-index: 9999999;
}
.loading-screen .fa-spinner {
	position: absolute;
	top: 50%;
	left: calc(50% - 125px);
	margin-top: -15px;
	margin-left: -15px;
	font-size: 30px;
}
.logo {
	max-width: 300px;
	width: 100%;
	margin: auto;
	padding: 30px 0;
}
.light-overlay:before {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .8);
	content: "";
	top: 0;
	left: 0;
}
.splash {
	background-image: url(/assets/img/backgrounds/bcc-baby-splash.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	background-repeat: no-repeat;
	display: flex;
}
.splash > .inner {
	display: flex;
	flex-direction: column;
	padding-bottom: 4em;
	padding-top: 0;
}
.navbar {
	background-color: $lightgrey;
	z-index: 99;
	transition: 0.4s ease-in-out;
	border-right: 1px solid #d9d9d9;
}
.hide .navbar {
	left: -250px;
	transition: 0.4s ease-in-out;
}
.branding-container {
	border-top: 10px solid $brandlightblue;
}
.hide .branding-container {
	left: 0;
	width: 100%;
}
.hide .wrapper {
	margin-left: 0;
}
.navbar li {
	border-bottom-color: rgba(0, 0, 0, .1);
}
.navbar li a {
	color: $darkgrey;
}
/*.navbar:after {
	position: absolute;
	width: 15px;
	height: 100%;
	background: linear-gradient(90deg, rgba(0,0,0,.1), rgba(0,0,0,0) 80%);
	content: "";
	left: 250px;
	top: 0;
}*/
.resources {
	/*background-image: url(/assets/img/backgrounds/resources-gradient-bg.jpg);*/
	background-size: cover;
	background-position: center;
	position: relative;
	background-repeat: no-repeat;
}
.tagline {
	position: relative;
	margin: auto;
}
.maxWidth1080 {
	max-width: 1080px;
}
.carousel.slick-dotted.slick-slider {
	margin-bottom: 50px;
}
body {
	font-family: 'Public Sans', sans-serif;
}
.centered-title-with-line-rules {
	text-align: center;
	overflow: hidden;
}
.centered-title-with-line-rules h2 {
	display: inline-block;
	position: relative;
	font-size: 1.75em;
}
.centered-title-with-line-rules.light h2 {
	color: #fff;
}
.centered-title-with-line-rules span {
	position: absolute;
	height: 2px;
	width: 1000px;
	top: 50%;
}
.centered-title-with-line-rules h2:before, .centered-title-with-line-rules h2:after {
	position: absolute;
	height: 2px;
	width: 1000px;
	background-color: $darkgrey;
	top: 50%;
	content: '';
}
.light .centered-title-with-line-rules h2:before, .light .centered-title-with-line-rules h2:after {
	background-color: #fff;
}
.centered-title-with-line-rules.light h2:before, .centered-title-with-line-rules.light h2:after {
	background-color: #fff;
}
.centered-title-with-line-rules .before-title {
	right: 100%;
	margin-right: 15px;
}
.centered-title-with-line-rules .after-title {
	left: 100%;
	margin-left: 15px;
}
.centered-title-with-line-rules h2:before {
	right: 100%;
	margin-right: 15px;
}
.centered-title-with-line-rules h2:after {
	left: 100%;
	margin-left: 15px;
}
.icon-title {
	position: relative;
	padding-left: 40px;
}
.icon-title:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	content: "";
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	left: 0;
}
.reports:before {
	background-image: url(/assets/img/icons/reports.svg);
}
.videos:before {
	background-image: url(/assets/img/icons/videos.svg);
}
.links:before {
	background-image: url(/assets/img/icons/links.svg);
}
.light_blue_bg {
	background-color: $brandlightblue;
}
.two_third_one_third_overlay {
	position: relative;
}
.translucent_white_bg {
	background-color: rgba(255, 255, 255, .5);
}
.blurb-overlay h3 {
	color: #fff;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0;
}
.section.no-top-padding {
	padding-top: 0;
}
.boxed-content {
	padding: 40px;
	border: 5px solid #e9e9e9;
	background-color: $lightgrey;
}
.pdf_dl:before {
	left: 0;
	margin-right: 10px;
	content: "\f1c1";
	font-family: fontAwesome;
	color: $darkgrey;
	transition: 0.25s ease-in-out;
}
.section {
	position: relative;
}
.blurb-overlay {
	background-color: $brandlightblue;
	border-radius: $borderradius;
}
.slick-list p {
	margin: 0;
	padding: 1em 0;
}
.desktop-menu-toggle {
	height: 50px;
    width: 50px;
    position: absolute;
    left: 250px;
    top: 0;
    z-index: 999999;
    background: #f5f5f5;
    border-radius: 0 0 10px 0;
    /*box-shadow: 6px 3px 6px #e9e9e9;*/
	cursor: pointer;
	border: 1px solid #d9d9d9;
	border-top: none;
}
.desktop-menu-toggle:before {
	content: "";
    left: -2px;
    top: 0;
    width: 4px;
    height: 49px;
    background-color: #f5f5f5;
    position: absolute;
}
body .desktop-menu-toggle .hamburger {
	position: absolute;
    top: 50%;
	padding: 13px 0;
    transform: translate(-50%,-50%);
    left: 50%;
}
body .desktop-menu-toggle .hamburger-box {
	width: 20px;
	height: 20px;
}
body .desktop-menu-toggle .hamburger-inner:before {
	top: -7px;
}
body .desktop-menu-toggle .hamburger-inner:after {
	bottom: -7px;
}
body .desktop-menu-toggle .is-active .hamburger-inner:before {
	top: -9px;
}
body .desktop-menu-toggle .is-active .hamburger-inner:after {
	bottom: -11px;
}
body .desktop-menu-toggle .hamburger-inner, body .desktop-menu-toggle .hamburger-inner:after, body .desktop-menu-toggle .hamburger-inner:before {
	width: 20px;
	height: 2px;
}
.video-container {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
}
.top-rounded-corners {
	border-radius: 15px;
}
.boxed-item {
	display: inline-block;
	padding: 15px;
	margin-top: auto;
	align-self: flex-start;
	background-color: #fff;
	box-shadow: 0 0 10px #d9d9d9;
	border-radius: 5px;
	transition: 0.25s ease-in-out;
}
.boxed-item:hover {
	transition: 0.25s ease-in-out;
	background-color: $brandorange;
}
.boxed-item:hover > a, .boxed-item:hover > a:before {
	color: #fff;
	transition: 0.25s ease-in-out;
}
.display-flex {
	display: flex;
	flex-direction: column;
}
video, iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-placeholder:before {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	background-color: $lightgrey;
	z-index: 1;
}
.video-placeholder:after {
	background-image: url(/assets/img/branding/bcc-branding.svg);
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	z-index: 1;
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.video-placeholder > svg {
	z-index: 2;
    width: 68px;
    height: 48px;
    overflow: auto;
    position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -34px;
	margin-top: -24px;
	cursor: pointer;
}
.content-wrapper ul.new_tab_list li {
	text-indent: -19px;
}
.new_tab {
	text-decoration: none;
}
.new_tab:after {
	font-family: fontAwesome;
	content: "\f08e";
	padding-left: 10px;
	color: $darkgrey;
}
.video-media h4 {
	margin: 10px 0 30px;
}
.row.no-gutter-space {
	margin-right: auto;
	margin-left: auto;
}
.col-inner {
	height: 100%;
}
.content_grid .col-inner {
	border: 2px solid $medgrey;
	padding: 2em;
	border-radius: $borderradius;
}
.blurb-overlay-alt h3 {
	color: $darkgrey;
	font-size: 1.75em;
	line-height: 1.5em;
}
.absolute_img_container {
	padding: 0;
}
.half_half_section > div {
	height: 100%;
}
.home-carousel-container, .splash > .inner {
	width: 100%;
}
@media (max-width: 980px) {
	.logo {
		max-width: 150px;
		padding: 15px 0;
	}
	.col-xs-12:last-of-type .new_tab_list:last-of-type {
		margin-top: 0;
	}
	.blurb-overlay-alt h3 {
	font-size: 1.25em;
	}
	.col-inner {
		padding: 2em;
	}
	.half_half_section .col-inner {
		padding-top: 4em;
		padding-bottom: 4em;
	}
	.desktop-menu-toggle {
		display: none;
	}
	.loading-screen .fa-spinner {
		left: 50%;
		margin-left: -15px;
		margin-top: -15px;
	}
	.menu-logo-container {
		display: none;
	}
	.blurb-overlay {
		padding: 2em;
	}
	.section {
		padding: 50px 0;
	}
	.inner {
		padding-right: 2em;
		padding-left: 2em;
	}
	.inner.no-side-padding {
		padding-left: 0;
		padding-right: 0;
	}
	.mobile-margin-bottom-25 {
		margin-bottom: 25px;
	}
	.carousel .slick-dots {
		position: relative;
		bottom: auto;
		padding-bottom: 50px;
	}
	.carousel .slick-list {
		margin-bottom: 25px;
	}
	.branding-container {
		position: fixed;
		background-color: #fff;
		top: 0;
	    width: 100%;
	    left: auto;
	    z-index: 999;
		transition: 0.4s ease-in-out;
	}
	.loading-screen {
		left: 0;
	}
	.carousel.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
	.navbar {
		overflow: auto;
	}
	.blurb-overlay-alt {
		position: absolute;
	    right: 0;
	    bottom: 0;
	    width: 250px;
	    padding: 100px 2em 1em 3em;
		border-radius: 1000px 0 0 0;
		background-color: #fff;
		text-align: right;
	}
}

@media (min-width: 981px) {
	.absolute_img {
		max-width: none;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.inner.top-bottom-padding-50, .top-bottom-padding-50 {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.half_half_section {
		min-height: 500px;
		height: 500px;
		overflow: hidden;
	}
	.extra-bottom-padding {
		padding-bottom: 4em;
	}
	.half_half_section .col-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		max-width: 600px;
	}
	.absolute_img_right {
		position: absolute;
	    top: 50%;
		right: 0;
	    transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		max-width: none;
		min-width: 100%;
		object-fit: cover;
	}
	.section {
		padding: 4em 0;
	}
	.bottom-margin-50 {
		margin-bottom: 50px;
	}
	.title-inner {
		padding-left: 4em;
		padding-right: 4em;
	}
	.two_third_img, .full_img {
		width: calc(100% - 16.666%);
		max-height: 600px;
		overflow: hidden;
	}
	.two_third_img {
		width: calc(100% - 16.666%);
	}
	.full_img {
		width: 100%;
	}
	.blurb-overlay {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 33.33333333%;
		padding: 2em;
		border: 5px solid #fff;
	}
	.blurb-overlay-alt {
		position: absolute;
	    right: 0;
	    bottom: 0;
	    width: 350px;
	    padding: 150px 0 1em 3em;
		border-radius: 1000px 0 0 0;
		background-color: #fff;
		text-align: right;
	}
	.branding-container {
		position: relative;
		top: 0;
		left: 250px;
		width: calc(100% - 250px);
		text-align: center;
		z-index: 10;
		transition: 0.4s ease-in-out;
	}
	.home .branding-container {
		position: absolute;
	}
	.loading-screen {
		left: 250px;
	}
}

@media (max-width: 850px) and (orientation: landscape) {
	.tagline {
		padding: 50px 0;
	}
	/*.home .content-wrapper .carousel ul.slick-dots {
		padding-bottom: 50px;
	}*/
	.slick-prev, .slick-next {
		transform: translate(0, -150%);
	}
	.slick-next, .slick-prev {
		display: none!important;
	}
	.carousel .slick-dots {
		bottom: 20px;
	}
	.tagline h1 {
		font-size: 2em;
	}
	.col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-offset-0, .col-xs-offset-1, .col-xs-offset-10, .col-xs-offset-11, .col-xs-offset-12, .col-xs-offset-2, .col-xs-offset-3, .col-xs-offset-4, .col-xs-offset-5, .col-xs-offset-6, .col-xs-offset-7, .col-xs-offset-8, .col-xs-offset-9 {
		padding-left: 0;
		padding-right: 0;
	}
	.row {
		margin-left: auto;
		margin-right: auto;
	}
	.blurb-overlay-alt {
		padding-right: 0;
	}
	.splash > .inner {
		padding-bottom: 2em;
	}
}

@media (max-width: 450px) {

	.slick-prev, .slick-next {
		transform: translate(0, -90%);
	}
	.splash > .inner {
		padding-bottom: 2em;
	}
	.blurb-overlay-alt {
		width: 150px;
		padding: 50px 0 0 1em;
	}
	.blurb-overlay-alt h3 {
		font-size: 0.75em;
		line-height: 1.5em;
	}
	.slick-next, .slick-prev {
		display: none!important;
	}
	.carousel .slick-dots {
		bottom: 20px;
	}
	.carousel.who_we_are {
		padding: 0;
	}
	ul {
		margin-bottom: 0;
	}
	ul:nth-of-type(2) {
		margin-top: 0;
	}
	/*.home .content-wrapper .carousel ul.slick-dots {
		padding-bottom: 50px;
	}*/
	.tagline h1 {
		font-size: 2em;
	}
	.col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-offset-0, .col-xs-offset-1, .col-xs-offset-10, .col-xs-offset-11, .col-xs-offset-12, .col-xs-offset-2, .col-xs-offset-3, .col-xs-offset-4, .col-xs-offset-5, .col-xs-offset-6, .col-xs-offset-7, .col-xs-offset-8, .col-xs-offset-9 {
		padding-left: 0;
		padding-right: 0;
	}
	.row {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1600px) {
	.maxWidth1080 {
		margin-left: auto;
		margin-right: auto;
	}
	.inner {
		max-width: 1600px;
	}
	.half_half_section .col-inner {
		max-width: 725px;
		padding-left: 8em;
		margin-left: 0;
	}
	.half_half_section.text_on_left .col-inner {
		max-width: 725px;
		padding-right: 8em;
		margin-right: 0;
		margin-left: auto;
	}
	.half_half_section .col-inner {
		max-width: 725px;
		padding-left: 8em;
		margin-left: 0;
	}
}

@media (min-width: 1920px) {
	.navbar:after, .loading-screen {
		left: 500px;
	}
	.menu-logo-container {
		left: 217.5px;
	}
	.menu-logo-container.show {
		margin: 0 0 0 -217.5px;
	}
	.wrapper, .jumbotron {
		margin-left: 500px;
	}
	.navbar {
		width: 500px;
	}
	.branding-container {
		left: 500px;
		width: calc(100% - 500px);
	}
	.menu-logo-container.show {
		height: 100px;
	}
	.hide .navbar {
		left: -500px;
		transition: 0.4s ease-in-out;
	}
	.hide .wrapper {
		margin-left: 0;
	}
	.desktop-menu-toggle {
		left: 500px;
	}
	.loading-screen .fa-spinner {
		left: calc(50% - 250px);
	}
}

@media (max-width: 1200px) {
	.responsive-inner {
		padding: 2em;
	}
}

@media (max-width: 63em) {
	.mobile-margin-bottom-md-25 {
		margin-bottom: 25px;
	}
	.gutter-space-1 {
		margin-right: -1rem;
		margin-left: -1rem;
	}
	.gutter-space-1 .col-lg-4, .gutter-space-1 .col-lg-6, .gutter-space-1 .col-md-6 {
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.video-media h4 {
		margin-bottom: 0;
	}
}

@media (min-width: 64em) and (max-width: 80rem) {
	.mobile-margin-bottom-md-25 {
		margin-bottom: 3rem;
	}
}

@media (min-width: 64em) {
	
	.gutter-space-1 {
		margin-right: -1.5rem;
		margin-left: -1.5rem;
	}
	
	.gutter-space-1 .col-lg-4 {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
	.gutter-space-1 .col-lg-4, .gutter-space-1 .col-lg-6, .gutter-space-1 .col-md-6 {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
}